{% extends 'cbt_base.html'%}
{% load static %}
{% block header %}
{% endblock %}
{% block main %}
<section class="cbt-form" style="margin-top: 0%;">
    <article  id="assessment-dashboard" style=" color: black;"></article>
    <section id="window" class="">
        <span class="alert orange-font">You can't submit assessment once time is out.</span>
        <p class="white-font"  id="{{assessment.id}}">Assessment:<span class="orange-font"> {{assessment.title}}</span></p>
        <div id="time" class="white-font">
            Duration: <span id="duration" class="orange-font">{{assessment.duration}} minutes</span>
            <p >Remaining time:
                <span id="timer" class="orange-font"></span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
             </p>
        </div>
    </section>
    <section> <div id="question-number"></div></section>
    <section id="assessment" class="">
        <article class="" id="assessment-window">
            <!--Assessment question and choices are shown here-->
            <form>

            </form>
        </article>

    </section>
</section>
{% endblock %}
{% block script %}
    {{block.super}}
    <script src="{% static 'script/assessment_window.js'%}" ></script>
{% endblock %}