{% extends 'base.html'%}
{% block header %} 
    <h2>MCQs platform</h2>
    <section><h4>You can't submit assessment once time is out.</h4>
        <p id="time">Duration: <span id="duration">{{duration}} mins.</span> 
            <p>Remaining time: <span id="timer"></span> <i class="fa fa-clock-o" aria-hidden="true"></i></p>
        </p>
    </section>
{% endblock %}
{% block user_info %}  {% endblock %}
{% block main %}
    <section id="auth">
        <!--h4>Assessment will automatically close after {{duration}} minutes</h4-->
    </section>
    <section id="assessment">
        <form method="POST" action="{% url 'multiple_choices:result' %}">
        {% csrf_token %}
        {% if multiple_choice_questions %}
            {% for multiple_choice_question in multiple_choice_questions %}
                <p><strong>Read the passage below and use it to answer the questions that follow.</strong></p>
                <p id="passage">{{multiple_choice_question.passage}}</p>
                <br>
                <ol>
                    {% for question in questions %}
                        {% ifequal question.multiple_choice_question.id multiple_choice_questions.id  %}
                            <li><strong>{{question.question_asked}}</strong></li>
                            <section>
                                {% for choice in choices %}
                                    {% ifequal choice.questions.id question.id %}
                                        <input id="{{question.id}}{{choice.id}}" type="radio" name="{{question.id}}" value="{{choice.id}}" required>
                                        <label for="{{question.id}}{{choice.id}}">{{choice.choice_statement}}</label><br>
                                    {% endifequal %}

                                {% endfor %}
                            </section>
                        {% endifequal %}
                    {% endfor %}
                </ol>
            {% endfor %}
        {% endif %}
                <hr>
            <button id="submit-btn" type="submit">Submit</button>
        </form>
    </section>
{% endblock %}
{% block script %} {{block.super}}{% endblock %}