{% extends 'base.html'%}
{% block header %}
    <section >
        <h1 style="margin: 0%;">MCQs platform </h1>
    </section>
    <a class="anc-btn" href="{% url 'multiple_choices:home' %}"><button>Home</button></a>
{% endblock %}
{% block main %}

    <section class="ass">
       <h2>Create CBT Question</h2><hr class="thick-line">
       
       <form action="{% url 'multiple_choices:login' %}" method="POST">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <p><a class="acn-btn" href="{% url 'multiple_choices:assessment' %}"><button>Send</button></a></p>
       </form><br>
    </section>
{% endblock %}
{% block script %}{% endblock %}