{% extends 'cbt_base.html'%}
{% block main %}

    <section class="cbt-form">
       <h1>Sign Up</h1>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
       <form action="{% url 'multiple_choices:register' %}" method="POST">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <p><button type="submit">Send</button></p>
       </form>
       <p class="txt">If you are registered, login <a href="{% url 'multiple_choices:login' %}">here</a></p>
    </section>
{% endblock %}
{% block script %}{% endblock %}