{% extends 'cbt_base.html'%}
{% load static %}
{% block user_info %} {{block.super}} {% endblock %}
{% block main %}
    <section class="container">
        <div id="cat-scroll">
            <article id="categories">
                <strong>Assessment Categories</strong><hr>
                <ol>
                    <a href="{% url 'cbt:create-institution-assessment' %}"><li><i class="fa fa-arrow-right"></i> Individual Assessment</li></a>
                    <a href="{% url 'cbt:create-individual-assessment' %}"><li><i class="fa fa-arrow-right"></i> Organnisational Assessment</li></a>

                </ol>
            </article>
            <article class="statement" id="scrolling-panel">
                <div id="landing-text">
                    <h3 class="white-font">
                        Creating and taking assessments here is always a fun.
                    </h3>
                    <!--h2 class="orange-font">
                        CBTMaker makes it easier for individuals and organnisations to create online computer tests(CBT), quizes and exams.
                        Its practice session allows individuals to practice in order to improve their confidence before taking their actual tests.
                    </h2-->
                </div>
            </article>
        </div>
        <hr class="divider">
        <!--section class="sample" >
            <h3>
                CBTMaker makes it easier for individuals and organnisations to create online computer tests(CBT), quizes and exams.
                Its practice session allows individuals to practice in order to improve their confidence before taking their actual tests.
            </h3>
        </section-->
        <section  class="sample">
            <div>
                <h3 class="orange-font">Individual Assessment</h3>
                <p class="">
                    You can create assessments for yourself or institution/organisaton following the simple steps.
                </p>
                <p>Create assessments for your personal use using this option.</p>
                <p>
                    <a href="{% url 'cbt:create-individual-assessment' %}">
                        <button >Assessment for individual</button>
                    </a>
                </p>
                <hr>
                <h3 class="orange-font">Institution Assessment</h3>
                <p>Create assessments for the institution/organisation you are working for</p>
                <p>
                    <a href="{% url 'cbt:create-institution-assessment' %}">
                        <button>Assessment for institution</button>
                    </a>
                </p>
            </div>
            <img src="{% static 'image/personal.png' %}" height="400">
        </section>
        <section  class="sample">
            <div>
                <h3 class="orange-font"> Practice with assessments samples</h3>
                <p >
                    To better familiarize yourself with the platform as a student, we encourage you to take Samples assessments.
                </p>
               <p>
                    <a class="anc-btn" href="{% url 'cbt:sample-assessment-list' %}">
                        <button>Learn with samples</button>
                    </a>
               </p>
            </div>
            <img src="{% static 'image/cbtmaker20.png' %}" height="300"/>
        </section>
    </section>
    {% endblock %}
{% block script %}
    {{block.super}}
    <script type="text/javascript" src="{% static 'script/scrolling_image.js' %}" ></script>
{% endblock %}