{% extends 'cbt_base.html'%}
{% block user_info %}
    <a class="" href="{% url 'cbt:home' %}"><button>Home</button></a>
    {{block.super}}
{% endblock %}
{% block main %}
    <section class="assessment-detail">
        <h1>Assessment details</h1>
        <article>
            <h3>Title and description</h3>
            Title: {{assessment.title|title}} |
            created on: {{assessment.time_created}}
        </article>
        <article>
            <h3>About</h3>
            {{assessment.description}}
        </article>
        <article>
            <h3>Available from: </h3>
                {{assessment.start_date}},
                {{assessment.start_time}}
        </article>
        <article>
            <h3>Unavailable from: </h3>
            {{assessment.end_date}},
            {{assessment.end_time}}
        </article>
        <article>
            <h3>Number of questions, student : </h3>
            Students: {{assessment.candidates_no}},
            Questions: {{assessment.no_of_questions}}
        </article>
        <article>
            <h3> Duration </h3>
            {{assessment.duration}} minutes
        </article>
        <br>
        <article>
                <a href="{% url 'cbt:cbt_list' %}">Go to assessment list</a>
        </article>
        <br>
    </section>
{% endblock %}