{% extends 'cbt_base.html'%}
{% block main %}

    <section class="cbt-form">
       <h1 class="page-head">Create Institution</h1>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <h2 class="alert info title">
            Provide the name and address of your Institution
        </h2><br>
       <form action="{% url 'cbt:create_institution' %}" method="POST">
            {% csrf_token %}
            {% include 'cbt/partials/form_fields.html' %}
            <p>
                <button type="submit">Send</button>
                <!--a href="{% url 'cbt:institution-list' %}"><button class="cancel">Cancel</button></a-->
            </p>
       </form>
    </section>
{% endblock %}
{% block script %}{% endblock %}