{% extends 'cbt_base.html'%}
{% block user_info %}
    {% if user.username %}
        <span>{{user.username}}</span>
        <a class="" href="{% url 'account:logout' %}">logout</a>
    {% else %}
        <a class="" href="{% url 'cbt:home' %}"><button>home</button></a>
        <a class="" href="{% url 'account:login' %}"><button>login</button></a>
{% endif %}
{% endblock %}
{% block main %}

    <section class="">
       <h2 class="page-head">Create Institution</h2>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <p>
            Provide the name and address of your Institution
        </p><br>
       <form action="{% url 'cbt:create_institution' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <strong>{{field.label}}</strong>
                <p>{{field}}</p>
            {% endfor %}
            <p><button type="submit">Send</button></p>
       </form>
    </section>
{% endblock %}
{% block script %}{% endblock %}