{% extends 'cbt_base.html' %}
{% block main %}
    <section class="cbt-form">
        <h1>Delete institution</h1>
        <h3 class="alert danger"> Are you sure to delete this institution?</h3>
            <div class="" style="color: green; text-align: center;"><q>{{institution.name}}</q></div>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <form action="{% url 'cbt:institution-delete' institution.id %}"  method="POST">
            {% csrf_token %}
            {% include 'cbt/partials/form_fields.html' %}
           <section>
                <button type="submit">Yes delete</button>
                <a  href="{% url 'cbt:institution-list' %}">
                    <button class="cancel">Cancel</button>
                </a>
           </section>
            <br>
        </form>
    </section>

{% endblock %}