{% load static %}
{% block Institution_assessments %}
    <section class="">
        {% if assessments %}
            <table>
                <caption>Individual Assessment list
                    <a href="{% url 'cbt:create-individual-assessment' %}" >
                        <button><i class="fa fa-plus"></i> New Assessment</button>
                    </a>
                </caption>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Time created</td>
                        <td>Start date/time</td>
                        <td>End date/time</td>
                        <td colspan="2">Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in assessments %}
                        <tr>
                            <td><a href="{{assessment.get_absolute_url}}">{{assessment.title|title|truncatewords:2}}</a></td>
                            <td>{{assessment.time_created|time}}</td>
                            <td>{{assessment.start_date}}/{{assessment.start_time|time}}</td>
                            <td>{{assessment.end_date}}/{{assessment.end_time|time}}</td>
                            <td><i class="fa fa-trash"></i></td>
                            <td><i class="fa fa-pencil"></i></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
         <p class="txt">You have not created any CBT.</p>
         <article id="logo">
                <p><img src="{% static 'image/cbtmaker-logo-gold-dark.png' %}" height="50%" width="20%"></p>
                <p class="cbt-type">
                    create CBT <a href="{% url 'cbt:create-organisation-assessment' %}">here</a>
                </p>
        </article>
        {% endif %}
    </section>
{% endblock %}