{% extends 'cbt_base.html'%}
{% load static %}
{% block user_info %}
    <a class="" href="{% url 'cbt:home' %}"><button>Home</button></a>
    {{block.super}}
{% endblock %}
{% block main %}
    <section class="">
        <section class="page-head">
            <p>
                CBT can be created for institutions or personal use as a teacher or parents
                who want to test their students and children respectively.
            </p>
            <img src="{% static 'image/cbtmaker-create-gold-dark.png' %}">
        </section>
       <section>
            <!--img src="{% static 'image/cbtmaker-create-gold-dark.png' %}"-->
       </section>
       <article class="" style="margin: 5%;">
            <div class="cbt-type">
                <p>
                    <h4>Organisation computer-based test</h4>
                    Use this option to create quize, test and exams for students, children etc.
                    <br>
                    It is designed for teachers, parents, emplyers etc. who want to use this platform for their personal use.
                </p>
                <p>
                    <h4>Personal computer-based test</h4>
                     Use this option if you are creating test on behalf of an organisation, school or company.
                    <br>
                    This will require you to initially add the organisation you are creating the test during the creation process.
                </p>
                <p>
                    <a href="{% url 'cbt:create_cbt' %}"><button>create assessment</button></a>
                </p>
            </div>
        </article>
    </section>
{% endblock %}
{% block script %} {{block.super}}{% endblock %}