{% extends 'cbt_base.html'%}
{% load static %}
{% block main %}
    <section class="cbt-form">
        <p>
            <img src="{% static 'image/cbtmaker-signup-gold-dark.png' %}" height="20%" width="50%">
        </p>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <form action="{% url 'cbt:signup' %}" method="POST">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <p><button type="submit">Send</button></p>
        </form>
       <p class="">If you are registered, login <a href="{% url 'cbt:login' %}">here</a></p>
    </section>
{% endblock %}
{% block script %}{% endblock %}