{% extends 'cbt/cbt_list.html' %}
{% block main %}
    <section id="assessment-help">
        <h1>Assessment guideline</h1>
        <p>
            Creating assessment requires the following information to be filled in the form:
        </p>
        <div>
            <h2>Title</h2>
            <P style="color: teal; font-family: courier;">
                This gives a name or title(as it simply implies) with which it is to be identified. It will you distinguish one assessment from the other
            </P>
        </div>
        <div>
            <h2>Decription</h2>
            <p> Description of assessment explains the reason it is created and might also state the candidates that are to take it.</p>
        </div>
        <diV>
            <h2>Institution</h2>
            <P style="color: teal; font-family: courier;">
                If the assessment you are creating is going to be used by the Institution or organisation you are working with, create the organisation and then select from the list of organisations/institutions you have created. Note that you have to opt for institutional assessment type before you get this feature.
            </P>
        </diV>

    </section>
{% endblock %}