{% extends 'cbt_base.html'%}
{% load static %}
{% block main %}
    <section class="cbt-form">
        <section>
            {% for message in messages %}
                {% if forloop.counter == 1 %}
                    <p class="info">{{message}}</p>
                {% endif %}
            {% endfor %}
        </section>
        <section>
            <h2>Institution Assessment form</h2>
            <p>
                If the assessment to be created is by institutions/organisations( such  as schools, companies etc.) use this form. Otherwise, make use of the form in this link
                 <a class="small" href="{% url 'cbt:create-individual-assessment' %}">individual Assessment</a>.
            </p>
            <p>
                Note that you will have to creat the institution/organisation the assessment will be associated with if you have not done so.
            </p>
        </section>
        <section class="cbt-form" style="border-radius: 40px;">
            <span>
                <a href="{% url 'cbt:institution-assessment-list' %}">
                    <button class="small">Available Assessments</button>
                </a>
            </span>
            <span class="badge info">{{cbts|length}}</span>
            <a  href="{% url 'cbt:institution-list' %}"><button class="small">institution list</button></a>
            <a href="{% url 'cbt:create_institution' %}">
                <button class="add"><i class="small fa fa-plus"></i> create institution</button>
            </a>
        </section>
        <section class="cbt-form">
            <form action="{% url 'cbt:create-institution-assessment' %}" method="POST">
                {% csrf_token %}
                <section id="cbt-info">
                    <h4>
                        Fill in the institution Assessment form
                        <p>
                            <span class="alert info"> Not sure what to fill? get guide</span>
                            <a href="{% url 'cbt:assessment-help' %}">
                                here
                                <img src="{% static 'image/help2.png' %}" height="50" width="50">
                            </a>
                        </p>
                    </h4>
                    <section>
                        {% for field in form %}
                            {% if 3 > forloop.counter %}
                            <p>{{field.error}}</p>
                            <p><strong>{{field.label}}</strong><br>{{field}}</p>
                            {% endif %}
                        {% endfor %}
                        {% for field in form %}
                            {% if forloop.counter > 2%}
                            {{field.error}}
                            <p><strong>{{field.label}}</strong><br>{{field}}</p>
                            {% endif %}
                        {% endfor %}
                    </section>
                    <button type="submit">Submit</button>
                </section>
            </form>
        </section>
    </section>
{% endblock %}
{% block script %}{% endblock %}