{% extends 'cbt_base.html'%}
{% block main %}
    <section class="cbt-form">
       <h2 class="page-head">Update Institution assessment</h2>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <p>
            update the assessment
        </p><br>
       <form action="{{assessment.get_update_url}}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <strong>{{field.label}}</strong>
                <p>{{field}}</p>
            {% endfor %}
            <p>
                <button type="submit">Save</button>
                <a href="{% url 'cbt:institution-assessment-list' %}"><button class="cancel">Cancel</button></a>
            </p>
       </form>
    </section>
{% endblock %}
{% block script %}{% endblock %}