{% extends 'cbt_base.html' %}
{% load static %}
{% block user_info %} {{block.super}} {% endblock %}
{% block main %}
    <section class="cbt-form">
        <h1>Reset password</h1>
        <hr>
        <p>Forgotten password? Enter your email below and we will send email with instructions to set up new one.</p>
        <br>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
            <p style="color:green">{{message}}</p>
            {% endif %}
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <p>{{password_reset_form.as_p}}</p>
            <p><button type="submit"> Send mail</button></p>
            <br>
            <br>
            <br>
        </form>
    </section>
{% endblock %}
{% block script %} {{block.super}}{% endblock %}