main{
    margin:0%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 2%;
}
h1, h2, h4 {
    font-family: 'arial black', forte;
    color: white
}

i {
    color: white;
    font-size: large;
}
header {
    margin: 0%;
    background-color: rgb(11, 23, 67);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 1% 2%;
    box-shadow: 0px 0px 5px 5px gray;
}
@media(min-width: 499px){
    #result, .ass{
        background-color: rgb(11, 23, 67);
        font-family: 'Courier New', Courier, monospace;
        padding: 3%;
        width: 30%;
        border-radius: 2em 2em;
        margin: 3%;
        text-align: center;
        color: white;
        box-shadow: 0px 0px 5px 5px gray;
    }
}
@media(max-width: 499px){
    #result, .ass{
        background-color: rgb(11, 23, 67);
        font-family: 'Courier New', Courier, monospace;
        padding: 1%;
        width: 100%;
        border-radius: 2em 2em;
        margin: 10% 2%;
        text-align: center;
        color: white;
        box-shadow: 0px 0px 5px 5px gray;
    }
    h1 {
        font-family: 'arial black';
        color: white;
        font-size: medium;
    }
}


header > section > h4 {
    padding: 0%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
button {
    background-color:  rgb(11, 23, 67);
    color:  rgb(255, 255, 255);
    font-weight: bold;
    padding: 1%;
    border-radius: 2em 2em;
    box-shadow: 0px 2px 2px 0px gray;
}
form > button {
    float: left;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1%;
}
button:radio {
    margin: 1%;
}
label {
    font-size: medium;
}

hr {
    border: 5px solid  rgb(11, 23, 67);
    border-radius: 10px 10px;
}

button > a {
    text-decoration: none;
    color: white;
    padding: 1%;
}
a {
    color: white;
}

#assessment p {
    text-align: justify;
    font-size: medium;
    background-color: palegoldenrod;
    padding: 1%;
    line-height: 1.7em;
    color: black;
}
p > strong  {
    background-color: white;
}

input:radio {
    text-align: left;
    font-weight: bold;
}

input {
    border-radius: 2em 2em;
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    padding: 2px;
}

ol li {
    text-align: left;
}

ol > section {
    text-align: left;
    margin: 2%;
}

ul {
    margin-bottom: 2%;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
    color: black;
}
span {
    color: white;
}
