main{
    margin:0%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 2%;
}
h1, h2, h4 {
    font-family: 'arial black', forte;
    color: white
}

i {
    color: white;
    font-size: large;
}
header {
    margin: 0%;
    background-color: rgb(11, 23, 67);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 1% 2%;
    box-shadow: 0px 0px 5px 5px gray;
}
@media(min-width: 500px){
    #result, .ass{
        background-color: rgb(11, 23, 67);
        font-family: 'Courier New', Courier, monospace;
        padding: 3%;
        width: 30%;
        border-radius: 2em 2em;
        margin: 0% 3%;
        text-align: center;
        color: white;
        box-shadow: 0px 0px 5px 5px gray;
    }
    input {
        border-radius: 2em 2em;
        height: 2em;
        font-size: large;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        width: 80%;
    }
    input:radio {
        text-align: left;
    }
    button {
        background-color:  rgb(11, 23, 67);
        color:  rgb(255, 255, 255);
        font-weight: bold;
        font-size: large;
        padding: 1% 2%;
        border-radius: 2em 2em;
        box-shadow: 0px 2px 2px 0px gray;
        width: 60%;
        margin-top: 5%;
    }
    form > button {
        float: left;
        margin-top: 2%;
        font-size: large;
        margin-bottom: 5%;
        padding: 1% 2%;
        width: 60%;
        margin-top: 5%;
    }
}
@media(max-width: 499px){
    #result, .ass{
        background-color: rgb(11, 23, 67);
        font-family: 'Courier New', Courier, monospace;
        padding: 2% 1%;
        border-radius: 2em 2em;
        margin: 2%;
        text-align: center;
        color: white;
        box-shadow: 0px 0px 5px 5px gray;

    }
    h1 {
        font-family: 'arial black';
        color: white;
        font-size: larger;
        margin: 1%;
    }
        
    input {
        border-radius: 2em 2em;
        height: 2em;
        text-align: center;
        font-weight: bold;
        padding: 2px;
        width: 80%;

    }
    input:radio {
        text-align: left;
        font-weight: normal;
    }
    button {
        background-color:  rgb(11, 23, 67);
        color:  rgb(255, 255, 255);
        font-weight: bold;
        padding: 1% 2%;
        border-radius: 2em 2em;
        box-shadow: 0px 2px 2px 0px gray;
        width: 80%;
        margin-bottom: 5%;
    }
    form > button, p > button {
        float: none;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 1% 2%;
        width: 60%;
    }
    p.txt {
        font-size:medium;
        margin: 1% 2%;
    }
    #login {
        padding-bottom: 20%;
    }
}

header > section > h4 {
    padding: 0%;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}


label {
    font-size: medium;
}

hr {
    border: 5px solid  rgb(11, 23, 67);
    border-radius: 10px 10px;
}

a {
    color: orangered;
}

button > a {
    text-decoration: none;
    color: white;
}

#assessment p {
    text-align: justify;
    font-size: medium;
    background-color: palegoldenrod;
    padding: 1%;
    line-height: 1.7em;
    color: black;
}
p > strong  {
    background-color: white;
}


ol li {
    text-align: left;
}

ol > section {
    text-align: left;
    margin: 2%;
}

ul {
    margin-bottom: 2%;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
    color: black;
}
span {
    color: white;
}
