{% load static %}
{% block Institution_assessments %}
    <section class="">
        {% if assessments %}
            <table>
                <caption>Institution Assessment list
                    <a href="{% url 'cbt:create-institution-assessment' %}" >
                        <button class="add"><i class="small fa fa-plus"></i> New Assessment</button>
                    </a>
                </caption>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Time created</td>
                        <td>Start date/time</td>
                        <td>End date/time</td>
                        <td>Institution</td>
                        <td colspan="2">Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in assessments %}
                        <tr>
                            <td><a href="{{assessment.get_absolute_url}}">{{assessment.title|title|truncatewords:2}}</a></td>
                            <td>{{assessment.time_created|time}}</td>
                            <td>{{assessment.start_date}}/{{assessment.start_time|time}}</td>
                            <td>{{assessment.end_date}}/{{assessment.end_time|time}}</td>
                            <td>{{assessment.institution.name}}</td>
                            <td><a href="{{assessment.get_delete_url}}"><i class="fa fa-trash"></i></a> </td>
                            <td><a href="{{assessment.get_update_url}}"><i class="fa fa-pencil"></i></a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
         <p class="txt">You have not created any CBT.</p>
         <article id="logo">
                <p><img src="{% static 'image/cbtmaker-logo-gold-dark.png' %}" height="50%" width="20%"></p>
                <p class="">
                     <a href="{% url 'cbt:create-institution-assessment' %}">
                         <button class="add"><i class="small fa fa-plus"></i> Add assessment</button
                    ></a>
                </p>
        </article>
        {% endif %}
    </section>
{% endblock %}