{% extends 'cbt_base.html'%}
{% block user_info %}
    {% if user.username %}
        <span>{{user.username}}</span>
        <a class="" href="{% url 'account:logout' %}">logout</a>
    {% else %}
        <a class="" href="{% url 'cbt:home' %}"><button>home</button></a>
        <a class="" href="{% url 'account:login' %}"><button>login</button></a>
{% endif %}
{% endblock %}
{% block main %}
    <section class="">
       <h2 class="page-head">Add Choice</h2>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <p>
            Add choice {{choices|length}} to this question:
        </p>
        <div class='choices-in-form'>
            <p class="alert info"><q>{{question.question_asked}}</q></p>
            <h6 style="text-align: left;">Added choices <span class="badge">{{choices|length}}</span></h6>
            <ol>
                {% for choice in choices %}
                   <li><span class="alert info">{{choice.choice_statement|title}}</span></li>
                {% empty %}
                    <p class="alert info">No choices yet.</p>
                {% endfor %}
            </ol>
        </div>
        <br>
       <form action="{% url 'choice:individual-create' question.id %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p> {{field.label}}<br>{{field}}</p>
            {% endfor %}
            <p>
                <button type="submit">Send</button>
                <a href="{% url 'cbt:individual-assessment-detail' question.assessment.id %}">Go back</a>
            </p>
       </form>
    </section>
{% endblock %}
{% block script %}{% endblock %}