<article id="assessments">
      <h3 >Created Assessments</h3>
      <article id="created-assessments">
            <div id="individual">
                  {% include "account/dashboard/partials/individual_assessment_items.html" %}
            </div>
            <div id="institutional">
                  {% include  "account/dashboard/partials/institution_assessment_items.html" %}
            </div>
      </article>
      <hr class="devider">
      <h3>Taken Assessments</h3>
      <article id="taken-assessment">
            <div id="institutional">

                  <!--Add taken assessments here-->
            </div>
      </article>
</article>