{% extends 'cbt_base.html'%}
{% load static %}
{% block main %}
    <section class="cbt-form">
        <section>
            {% for message in messages %}
                {% if forloop.counter == 1 %}
                    <p class="info">{{message}}</p>
                {% endif %}
            {% endfor %}
        </section>
        <section>
           <h2>Individual Assessment form</h2>
           <p>
               If the assessment to be created is for Individuals( such  as parents, teachers etc.) and is not meant to be assoicated with any institution or organisation, use this form. Otherwise, make use of the form in this link <a class="small" href="{% url 'cbt:create-institution-assessment' %}">institution Assessment</a>
           </p>
        </section>
        <section class="cbt-form" style="border-radius: 40px;">
            <a href="{% url 'cbt:individual-assessment-list' %}"><button class="small">Available Assessments </button></a>
            <span class="badge">{{cbts|length}}</span>
        </section>
        <section class="cbt-form">
            <form action="{% url 'cbt:create-individual-assessment' %}" method="POST">
                {% csrf_token %}
                <section id="cbt-info">
                    <h4>Fill in the individual Assessment form
                        <p>
                            <span class="alert info"> Not sure what to fill? get guide</span>
                            <a href="{% url 'cbt:assessment-help' %}">
                                here
                                <img src="{% static 'image/help2.png' %}" height="50" width="50">
                            </a>
                        </p>
                    </h4>

                    <section>
                        {% for field in form %}
                            {% if 3 > forloop.counter %}
                                {{field.error}}
                                <p><strong>{{field.label}}</strong><br>{{field}}</p>
                            {% endif %}
                        {% endfor %}
                        <div>
                            {% for field in form %}
                                {% if forloop.counter > 2 %}
                                    {{field.error}}
                                    <p><strong>{{field.label}}</strong><br>{{field}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <p>
                        <button type="submit">Submit</button>
                    </p>
                </section>
            </form>
        </section>
    </section>
{% endblock %}
{% block script %}{% endblock %}