{% extends 'cbt_base.html'%}
{% load static %}
{% block main %}
    <section class="cbt-form">
        <section>
            {% for message in messages %}
                {% if forloop.counter == 1 %}
                    <p class="info">{{message}}</p>
                {% endif %}
            {% endfor %}
        </section>
        <section>
            <h2><u>Individual Assessment form</u></h2>
            <p>
                <a href="{% url 'cbt:individual-assessment-list' %}"><button class="small">Available Assessments </button></a>
                <span class="badge">{{cbts|length}}</span>
                <a class="small" href="{% url 'cbt:create-institution-assessment' %}"><button class="add fa fa-plus"> Add institution Assessment</button></a>
            </p>
        </section>
        <section>
            <form action="{% url 'cbt:create-individual-assessment' %}" method="POST">
                {% csrf_token %}
                <section id="cbt-info">
                    <h4>Fill in the Assessment form
                        <p>
                            <span class="alert info"> Not sure what to fill? get guide</span>
                            <a href="{% url 'cbt:assessment-help' %}">
                                here
                                <img src="{% static 'image/help2.png' %}" height="50" width="50">
                            </a>
                        </p>
                    </h4>

                    <section>
                        {% for field in form %}
                            {% if 3 > forloop.counter %}
                                {{field.error}}
                                <p><strong>{{field.label}}</strong><br>{{field}}</p>
                            {% endif %}
                        {% endfor %}
                        <div>
                            {% for field in form %}
                                {% if forloop.counter > 2 %}
                                    {{field.error}}
                                    <p><strong>{{field.label}}</strong><br>{{field}}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </section>
                    <p>
                        <button type="submit">Submit</button>
                    </p>
                </section>
            </form>
        </section>
    </section>
{% endblock %}
{% block script %}{% endblock %}