{% extends 'cbt_base.html'%}
{% block main %}

    <section class="cbt-form">
       <h1>Login form</h1>
       <h1 class="alert info">Fill the form below:</h1>
       {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
       <form action="{% url 'account:login' %}" method="POST">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <p><a class="acn-btn"><button>Send</button></a></p>
       </form><br>
       <p class="">Have no account?
           <a href="{% url 'account:register' %}">sign up</a> OR
           Forgotten password? <a href="{% url 'account:reset_password' %}">reset password</a>
        </p>
    </section>
{% endblock %}
{% block script %}{% endblock %}