{% extends 'cbt_base.html'%}
{% load static %}
{% block main %}
    <section class="cbt-form">
        <h1>Sign up form</h1>
        <h1 class="alert info">Fill the form below:</h1>
        {% for message in messages %}
            {% if forloop.counter == 1 %}
                <span style="color: orange;">{{message}}</span>
            {% endif %}
        {% endfor %}
        <form action="{% url 'account:register' %}" method="POST">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <p><button type="submit">Send</button></p>
        </form>
       <p class="">If you are registered, login <a href="{% url 'account:login' %}">here</a></p>
    </section>
{% endblock %}
{% block script %}{% endblock %}