{% load static %}
{% block individual_assessment %}
    <section class="" id="">
        {% if individual_assessments %}
            <table>
                <caption>
                    <h3 class="h-titles">Individual Assessment list</h3>

                </caption>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Time created</td>
                        <td>Start date/time</td>
                        <td>End date/time</td>
                        <td colspan="2">Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for assessment in individual_assessments|slice:":10" %}
                        <tr>
                            <td><a href="{{assessment.get_absolute_url}}">{{assessment.title|title|truncatewords:2}}</a></td>
                            <td>{{assessment.time_created|time}}</td>
                            <td>{{assessment.start_date}}/{{assessment.start_time|time}}</td>
                            <td>{{assessment.end_date}}/{{assessment.end_time|time}}</td>
                            <td><a href="{{assessment.get_delete_url}}"><i class="fa fa-trash"></i></a> </td>
                            <td><a href="{{assessment.get_update_url}}"><i class="fa fa-pencil"></i></a> </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6">
                            <a><button class="small">See more assessments...</button></a>
                            <a href="{% url 'cbt:create-individual-assessment' %}" >
                                <button class="small add"><i class="small fa fa-plus"></i> Add Assessment</button>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        {% else %}
         <p class="alert info">No assessment.</p>
         <article>
                <p class="">
                    <a href="{% url 'cbt:create-individual-assessment' %}">
                            <button class="add"><i class="small fa fa-plus"></i> Add assessment</button>
                    </a>
                </p>
        </article>
        {% endif %}
    </section>
{% endblock %}
