{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'style/cbt/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <article class="account-nav">
                <div class="nav-button account"><i class="fa fa-bars"></i></div>
                <ul class="nav">
                    <a class="nav-link" href="{% url 'cbt:home' %}">
                        <li id="logo"><img src="{% static 'image/monbes-center.png' %}" height="100" width="200"></li>
                    </a>
                    {% block user_info %}
                        {% if request.user.username %}
                            <a class="nav-link"  href="#">
                                <li class="nav-item"><i class="fa fa-user"> {{request.user.username}}</i></li>
                            </a>
                            <a class="nav-link"   href="{% url 'account:dashboard' %}">
                                <li class="nav-item">dashboard</li>
                            </a>
                            <a class="nav-link"  href="{% url 'account:logout' %}">
                                 <li class="nav-item"> logout</li>
                            </a>
                        {% else %}
                            <a class="nav-link"   href="{% url 'account:register' %}"><li class="nav-item">signup</li></a>
                            <a class="nav-link act-btn small"  href="{% url 'account:login' %}"><li class="nav-item">login</li></a>
                        {% endif %}
                    {% endblock %}
                </ul>
            </article>
            <article class="primary-nav">
                <div class="nav-button primary"><i class="fa fa-bars"></i></div>
                <ul class="nav">
                    <a class="nav-link" href="{% url 'cbt:home' %}"><li class="nav-item">Home</li></a>
                    <a class="nav-link" href="{% url 'cbt:cbt_type' %}"><li>Assessments</li></a>
                </ul>
            </article>
            {% block header %}
            {% endblock %}
        </header>
        <main>{% block main %} {% endblock %}</main>
        <footer>
            <div id="footer-body">
               <div class="footer-item">
                    <h3><i class="fa fa-map-marker"></i> Address</h3><hr>
                    <p class="">shop no. 0000 PTI shopping complex, <br> Effurun, Delta state</p>
               </div>
               <div class="footer-item">
                   <h3><i class="fa fa-address-card"></i> Our contact</h3><hr>
                   <p class=""><i class="fa fa-phone"></i> +23409061983150</p>
                   <p class=""><i class="fa fa-envelope"></i> monbes-cbt@gmail.com</p>
               </div>
               <div  class="footer-item">
                   <h3><i class="fa fa-road"></i> Services</h3><hr>
                   <p class="">Assessments center</p>
                   <p class="">Fashion</p>
               </div>
            </div>
            <div id="copy-right"><em>@cbtmaker 2020</em></div>
        </footer>
       {% block script %}  <script src="{% static 'script/jquery-3.5.0.js'%}"></script> {% endblock %}
        <script src="{% static 'script/script.js'%}" ></script>
    </body>
</html>